
#navbarNav li{
    transition: background-color 0.9s, border-color 0.9s;
}
#navbarNav li:hover{
    background-color: #28a745;
}
#logout-btn{
    position: absolute;
    right: 15px;
}

#menuBtn{
    margin: 20px;
}
#Manage-Customer{
    background-color: #28a745;
    
}
.thisbtn{
    text-align: center;
}
#heading{
    text-align: center;
    font-weight: 200;
    margin: 30px;
}
.table-header{
    font-size: 110%;
    font-weight: 200;
    text-align: center;
}
#new-package-form{
    max-width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(56, 63, 69);
    margin-bottom: 100px; 
    color: white;
    font-size: 125%;
    font-weight: 200;
}
#new-package-form button{
    text-align: center;
    margin-left: 168px; 
}